{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="#" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Common head section content -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/title.png' %}">
   
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
    <link rel="stylesheet" href="{% static 'style/footer.css' %}" />
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Optional jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    {% block style %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

  document.addEventListener("DOMContentLoaded", function() {
    // If you haven't already included jQuery, add this before your script:
    const hamburger = document.getElementById('hamburger_id');
    
    const navLinks = document.getElementById('UL_12');
    const call = document.getElementById('A_46');
    hamburger.addEventListener('click', function () {

      if (navLinks.style.display === 'block') {
        navLinks.style.display = 'none';
        call.style.display = 'none';
      } else {
        navLinks.style.display = 'block';
        call.style.display = 'block';
      }
    });

});


    </script>
  </head>
  <body>
    <header>
      <!-- Common header content -->

      <div class="header-topbar ">
        <div class="octf-area-wrap">
          <div class="container">
            <!-- Header Topbar Menus -->
            <!-- social icons -->
            <ul class="social-list">
              <li><a href="#" target="_self" id="link"><i class="fab fa-facebook-f"></i></a> </li>
              <li><a href="#" target="_self" id="link"><i class="fab fa-linkedin-in"></i></a> </li>
              <li><a href="#" target="_self" id="link"><i class="fab fa-instagram"></i></a> </li>
            </ul>
            <!-- social icons close -->
            <!-- contact info -->
            <ul class="topbar-info clearfix">
              <li> <i class="fas fa-map-marker-alt"></i> United Kingdom | United States of America | United Arab Emirates | Australia </li>
              <li> <i class="fas fa-envelope"></i> <a href="mailto:eli@timesquarellc.com" id="link">eli@timesquarellc.com</a> </li>
              <li> <i class="fas fa-phone"></i> <a href="tel:(571) 370 3422" id="link">(571) 370 3422</a> </li>
            </ul>
            <!-- contact info close -->
          </div>
        </div>
      </div>


      

    </header>

    <div id="DIV_1">
      <!-- Main Navigation Bar -->
      <div id="DIV_10">
         

          <nav id="NAV_11">
              <!-- Logo section -->
             
              <div id="DIV_6">
                  <a href="{% url 'home' %}" id="A_7">
                      <img src="{% static 'images/finallogo.png' %}" alt="Time Square LLC" id="IMG_8" />
                  </a>

                  <button class="hamburger" id="hamburger_id">&#9776;</button>
                  <!-- <button class="close-menu" id="close_menu_id">X</button> -->
              </div>
  
              <ul id="UL_12">
                <li id="LI_13">
                    <a href="{% url 'home' %}" id="A_14">Home</a>
                </li>
                <li id="LI_15">
                    <a href="{% url 'about' %}" id="A_16">About Us</a>
                </li>
                <li id="LI_17">
                    <a href="#" id="A_18">Services</a>
                    <ul id="UL_19">
                        <li id="LI_20">
                            <a href="{% url 'web-development' %}" id="A_21">Website Design And Development</a>
                        </li>
                        <li id="LI_22">
                            <a href="{% url 'app-development' %}" id="A_23">App Development</a>
                        </li>
                        <li id="LI_24">
                            <a href="{% url 'seo-services' %}" id="A_25">Search Engine Optimization</a>
                        </li>
                        <li id="LI_26">
                            <a href="{% url 'ppc-management' %}" id="A_27">PPC Management</a>
                        </li>
                        <li id="LI_28">
                            <a href="{% url 'social-media-marketing' %}" id="A_29">Social Media Marketing</a>
                        </li>
                        <li id="LI_30">
                            <a href="{% url 'content-marketing' %}" id="A_31">Content Marketing</a>
                        </li>
                        <li id="LI_32">
                            <a href="{% url 'cyber-security' %}" id="A_33">Cyber Security</a>
                        </li>
                    </ul>
                </li>
                <li id="LI_34">
                    <a href="{% url 'contact' %}" id="A_35">Contact Us</a>
                </li>
                <!-- <li id="LI_39">
                    <a href="{% url 'blog' %}" id="A_40">Blog</a>
                </li>
                <li id="LI_39">
                  <a href="{% url 'careers' %}" id="A_40">Career</a>
                </li> -->
            </ul>
              <!-- Call To Action -->
              <div id="DIV_42">
                  <a href="tel:(571)%20370%203422" id="A_46">Call Us Now</a>
              </div>
          </nav>
      </div>
    </div>


    

    <main>{% block content %}{% endblock %}</main>


    <footer class="footer">
      <div class="footer-content">
          <!-- Logo & Description -->
          <div class="footer-column company-info">
            <div class="footer-logo">
              <img src="{% static 'images/finallogo.png' %}" alt="Quality Resource">
            </div>
            <!-- Description -->
            <div class="footer-description">
                <p>Time Square Group LLC is a progressive and insightful digital agency, technically and creatively skilled to translate your brand into its best digital self.</p>
            </div>
            <div class="footer-social">
              <a href="#" target="_self" id="link"><i class="fab fa-facebook-f"></i></a> 
              <a href="#" target="_self" id="link"><i class="fab fa-linkedin-in"></i></a> 
              <a href="#" target="_self" id="link"><i class="fab fa-instagram"></i></a> 

            </div>
          
            </div>
          
          <!-- Locations -->
          <div class="footer-column footer-locations">
              <h5>Our Locations</h5>
              <ul>
                  <li>United Kingdom</li>
                  <li>United States of America</li>
                  <li>United Arab Emirates</li>
                  <li>Australia</li>
              </ul>
          </div>
          <!-- Services -->
          <div class="footer-column footer-services">
              <h5>Services</h5>
              <ul>
                  <li><a href="{% url 'content-marketing' %}" id="link">Content Marketing</a></li>
                  <li><a href="{% url 'app-development' %}" id="link">App Development</a></li>
                  <li><a href="{% url 'seo-services' %}" id="link">Search Engine Optimization</a></li>
                  <li><a href="{% url 'ppc-management' %}" id="link">PPC Management</a></li>
                  <li><a href="{% url 'social-media-marketing' %}" id="link">Social Media Marketing</a></li>
                  <li><a href="{% url 'web-development' %}" id="link">Website Design & Development</a></li>
              </ul>
          </div>
          <!-- Contact details -->
          <div class="footer-column footer-contact">
              <h5>Contact Details</h5>
              <div><a href="mailto:eli@timesquarellc.com" id="link">eli@timesquarellc.com</a></div>
              <div><a href="tel:(571)%20370%203422" id="link">(571) 370 3422</a></div>
          </div>
      </div>
      <!-- Footer bottom with copyrights -->
      <div class="footer-bottom">
          © 2005 – 2023, Time Square Group LLC | All Rights Reserved. <a href="{% url 'terms-condition' %}">Terms & Conditions</a> | <a href="{% url 'privacy-policy' %}">Privacy Policy</a>
      </div>
    </footer>
  
  
  </body>

  {% block script %}

  {% endblock %}

</html>
