{% extends 'base.html' %}
{% load static %}
{% block title %}Time Square - Cyber Security{% endblock %}

{% block style %}
<style>
    /*
------------------------------------------------------------
--------------------FAQ---------------------------------------- 
 */
    .faq-section {
        max-width: 890px;
        margin: 0 auto;
        padding: 20px;
    }

    .faq-question {
        width: 100%;
        text-align: left;
        padding: 10px 15px;
        margin: 5px 0;
        border: none;
        background-color: #f7f7f7;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .faq-question:hover {
        background-color: #e0e0e0;
    }

    .faq-answer {
        display: none;
        padding: 10px 15px;
        margin-bottom: 10px;
        background-color: #fff;
        border: 1px solid #e0e0e0;
    }

    .faq-question .arrow {

        transition: transform 0.3s;
    }

    .faq-item.open .faq-question .arrow {
        transform: rotate(180deg);
    }

    /* For small devices */
    @media (max-width: 600px) {
        .faq-section {
            padding: 10px;
        }

        .faq-question {
            font-size: 0.9em;
            padding: 8px 12px;
        }
    }
</style>

{% endblock %}


{% block content %}




<section class="faq-section">
    <h2>Frequently Asked Questions</h2>
    <div class="faq-item">
        <button type="button" class="faq-question">What is data science?? <span class="arrow">&#x25BC;</span></button>


        <div class="faq-answer">
            <p>Data science is the field of extracting insights and knowledge from data using various techniques and
                algorithms.</p>
        </div>
    </div>

    <div class="faq-item">
        <button type="button" class="faq-question">How is AI different from machine learning?? <span
                class="arrow">&#x25BC;</span></button>


        <div class="faq-answer">
            <p>AI encompasses machine learning and other technologies; ML is a subset of AI focused on learning from
                data.</p>
        </div>
    </div>

    <div class="faq-item">
        <button type="button" class="faq-question">What industries benefit from data science and AI?? <span
                class="arrow">&#x25BC;</span></button>


        <div class="faq-answer">
            <p>Industries like healthcare, finance, e-commerce, and autonomous vehicles use data science and AI
                extensively.</p>
        </div>
    </div>

    <div class="faq-item">
        <button type="button" class="faq-question">What's the role of data engineers in data science?? <span
                class="arrow">&#x25BC;</span></button>


        <div class="faq-answer">
            <p>Data engineers prepare and structure data for analysis by data scientists.</p>
        </div>
    </div>

    <div class="faq-item">
        <button type="button" class="faq-question">What's the impact of AI on job markets?? <span
                class="arrow">&#x25BC;</span></button>


        <div class="faq-answer">
            <p>AI may automate some tasks but also create new job opportunities in AI development and maintenance.</p>
        </div>
    </div>

    <div class="faq-item">
        <button type="button" class="faq-question">How do AI and ethics relate?? <span
                class="arrow">&#x25BC;</span></button>


        <div class="faq-answer">
            <p>Ethical AI ensures fairness, transparency, and responsible use of AI technologies.</p>
        </div>
    </div>
    <!-- ... Repeat for other questions ... -->
</section>

{% endblock %}
{% block script %}
<script>



    const faqItems = document.querySelectorAll('.faq-item');

    faqItems.forEach(item => {
        const question = item.querySelector('.faq-question');
        const answer = item.querySelector('.faq-answer');

        question.addEventListener('click', () => {
            const isOpen = answer.style.display === 'block';
            answer.style.display = isOpen ? 'none' : 'block';

            if (isOpen) {
                item.classList.remove('open');
            } else {
                item.classList.add('open');
            }
        });
    });

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>


{% endblock %}