{% extends 'base.html' %}
{% load static %}
{% block title %}Privacy{% endblock %}

{% block style %}

<style>
    .header-container {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px; /* Added to provide some spacing after the title */
    margin-top: 20px;
}

.content-container {
    padding: 40px 0;
}

.content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

</style>
{% endblock %}


{% block content %}
<div class="header-container">
	<h1>Privacy Policy</h1>
</div>

<div class="content-container">
	<section>
		<div class="content-wrapper">
			<p>At Time Square LLC, privacy is a crucial point in maintaining a relationship with you. To secure our web environment, our mission is dedicated to protecting the privacy of our users. Rest assured, your privacy will be safeguarded—we protect your information and maintain its confidentiality. Your information will not be shared or leaked to third parties. It’s important to note that I kept any contributions added to our blog or forum open to the public, and refrain from posting important personal information. It is your responsibility to maintain web safety when posting on our website, as a consequence, we accept no liability on these terms.</p>
			
			<p>Furthermore, upon visiting our site we collect technical information that can help us better understand the analytics of our content. This includes and is only limited to: your computer operating system, your internet service provider (ISP), your internet protocol (IP) address, your internet browser (eg, Chrome, Firefox, Internet Explorer or other), the uniform resource locator (URL) (this is where you came from and which website you proceed onwards to), and the number of visits you make to our page. We reiterate that your personal data will not be used nor will you be contacted or identified. This information may only be shared with our business partners and the general public for advertising purposes. For example, to better curate ads, we will collect data on unique visitors.</p>
			
			<p>Since we use the highest standard of security alongside a secure firewall, unauthorized usage or misuse cannot take place with your information. As a consequence, we take strides in safeguarding your identifiable information against fraud, misuse, or alteration by third parties. However, take diligence—though, rare—there is always a risk that ill-willed users may intercept internet transmissions and hack our security systems.</p>
			
			<p>Sites that are seen on our website banners or contained in link form are not under our control. We neither condone or assume responsibility for their practices or privacy policy nor do we manage their system of information storage. We only have control over our website management.</p>
			
			<p>We reserve the right regarding the change of our Privacy Policy with our prior notice. This includes: altering, modifying, or removing portions as needed. These modifications will be visible on our site. Upon visiting our site, you indirectly accept all the terms contingent upon us and you. Please cease using our website, if our terms and agreements of our privacy policy do not suit you as your continued usage reiterates your agreement with these terms for us.</p>
			
			<p>Thank you.</p>
		</div>
	</section>
</div>



{% endblock %}
{% block script %} 



{% endblock %}
