{% extends 'base.html' %}
{% load static %}
{% block title %}Terms and Conditions{% endblock %}

{% block style %}

<style>
    .header-container {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px; /* Added to provide some spacing after the title */
    margin-top: 20px;
}

.content-container {
    padding: 40px 0;
}

.content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}
li {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

</style>
{% endblock %}


{% block content %}

<div class="header-container">
	<h1>Terms & Conditions</h1>
</div>

<div class="content-container">
	<section>
		<div class="content-wrapper">
            <h3>Terms of Our Services</h3>
            <p>Our terms and conditions allow you to access and use Time Square websites for your businesses. By accessing our site, you can agree to the terms and conditions derived by us; binding a legal contract with Time Square. However, if you do not agree to our terms and conditions or you do not want to stay bound legally, do not access our sites.</p>
			<h3>Delineations</h3>
            <p><li>The word “you” and “yours” on our site represents you as a user of our site which means you are accessing, browsing and crawling through our sites. Whereas the terms “We” “Us” and “Our” is referring Time Square.</li><li>Everything that is posted or is live such as text, images, photos, videos, audios, location data and everything related to your business, we publish it on your behalf and with your consent. We get every marketing material approved by you before displaying it publically on our site and as is referred to as “Your Content” and you are the one who is responsible for its authenticity and liability. This may include all the publically displayed information such as reviews, ratings, compliments, invitations, messages, check-ins and other facts and figures representing your business.</li></p>
			

            <h2>Using Our Site</h2>

            <h3>Authorization to site usage</h3>
            <p>Within the boundaries of our defined terms, you will be allowed to access our site for your business. While using our site for posting any material related to your services, all the risk is yours; including the risk of being exposed to offensive, irrelevant, and questionable content.</p>
            <h3>Site Access</h3>
            <p>Our site may be modified, updates and interrupted anytime without any notice or liability.</p>

            <h3>Eligibility Criteria</h3>
            <p>If you are one of our competitors, we will not grant you access, or your account may be blocked.</p>
            <h3>User’s Accounts</h3>
            <p>To access our site, you may create an account first, providing all the information related to you for using the additional useful features. Keeping your accounts password confidential is your charge. Also, any activity that takes place using your account is your concern. In case, you find any mysterious activities through your account on our site; you are instructed to notify us ASAP. We reserve the right to close your account anytime.

            Your account is only for your personal and non-commercial use. Therefore, while signing up, we may ask you to provide accurate information about yourself to strengthen your credibility. You may not portray as someone else such as using the identity or email address of your friend or anyone close to you. Also, creating multiple accounts is not allowed.</p>
            <h3>Communication</h3>
            <p>We do not interfere or take responsibility for any communication/dealings between you and your customers.</p>
            <h2>Changes to Terms of Services</h2>
            <p>Nothing remain constant nor our terms and conditions. Therefore, we may keep modifying our terms from time to time. You understand and agree to our change in terms and conditions and the way it may affect the use of the site. If we make changes to our terms and conditions, we may notify it to you via email. Your continual use of our site shows that you are agreed to our modification in terms and conditions and how they will be affecting the service on the site.</p>
            <h2>CONTENT</h2>
            <h3>You Own Your Content</h3>
            <p>Every content or marketing material that will be published on our site is approved by you, and once it’s published, it cannot be withdrawn. The content is a written representation of your business services and you; therefore, make sure you have submitted everything that is reliable, authentic and true. It also signifies that you own everything that is published or is live on our site. We may provide you suggestion for your content, videos, audios, and everything.

            However, if your content contains material that is false, objectionable, you may expose yourself to liability.</p>
            <h3>Rights We Reserve</h3>
            <p>We reserve the rights to use your content publicly at different platforms. Also, notify that you have granted the access to all the users of this site and other media to use your content. By the “Use” we mean to copy and publically use your content, translate it, commercialize it and more.</p>
            <h3>Ownership</h3>
            <p>When it’s between you and Time Square, you own everything related to your content displayed publically. Whereas, we own the features but not limited to visual interfaces, graphics, design, the compilation of user’s content, reviews and ratings. We do not grant you any access to indirect rights and all rights in and to the Site are reserved by us.</p>
            <h2>General Restrictions</h2>
            <p>We do not enforce our terms on your behalf against other users. Still, we encourage you to inform us in time if you have observed any of the user violating the rules, terms, and conditions.</p>
            <h3>You have agreed;</h3>
            <ul>
                <li>Not to violate the content guidelines by publishing fake information about your business.</li>
                <li>To respect the third party’s right such as breaching the confidence, copyrights, trademark, moral right, privacy right and the rights of publically displaying the content/ information.</li>
                <li>Not to send emails in bulk or other mass messaging; whether commercial or not. Also, you will not attempt to manipulate the search results or engaging in keyword spamming.</li>
                <li>Not to violate any of the applicable law as well as the terms and conditions defined. Not to use any robot, spider, site search/retrieval application, or other automated devices, process or means to access, scrape, or index any portion of the site or the content</li>
                <li>Not to format or frame any portion of the site according to your business.</li>
                <li>Not to make any attempt to get access to the restricted areas of the site as well as to the account of any of the users.</li>
                <li>Not to remove, disable, damage or interfere with any security-related features of the site, features that prevent or restrict the use or copying of Site Content, or features that enforce limitations on the use of the Site.</li>
            </ul>
            <h2>Conditions to Terminate the Contract</h2>
            <p>You reserve the rights to terminate the signed contract anytime. However, prior to discontinuing the use of our services or site, providing a written notice of 30 days is a must.</p>

            <p>After receiving a notice for canceling the contract, we may close or suspend your account immediately. We also reserve the rights to limit your access or ban the use altogether from our site without notifying you the reason. Remember that any such action could stop you from accessing your whole or partial content and everything that is correlated.</p>
            <h3>Our Contract Terms</h3>
            <p>By the term “No Contract” means we will not bind you with our legal terms and conditions. However, you still have the privilege to use our services based on month to month recurring contract. When you sign for our recurring contract, you reserve the rights to cancel our subscription anytime with a prior written notice of 30 days.</p>
            <h3>Intellectual Property</h3>
            <p>Once you have signed our contract, you have agreed to the terms that we reserve the rights of everything we did to market your business, including the landing pages. Therefore, when you cancel the contract with us, we may retain the rights to taking off the pages created for you or inactivate them.</p>
            <h3>Payment and Refund Policy</h3>
            <ul>
                <li>For monthly and fixed-price contracts we take with upfront payment unless otherwise agreed. The payment date is the billing date or signup date for the project.</li>
                <li>Once the monthly report of the keywords has been issued, we may charge for the next service month</li>
                <li>All payments made are non-refundable.</li>
            </ul>
            <p>All the terms derived herein by us are for your convenience only.</p>
        </div>
	</section>
</div>


{% endblock %}
{% block script %} 



{% endblock %}
